<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Smoothie Recipes</h2>
    <h3>We are running healthy</h3>
  </div>
</header>

<%- include('partials/footer'); -%>